
/* 1800   fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff */

body {
  background: radial-gradient(circle at bottom, rgb(0, 0, 0) 0, black 100%);
  background-repeat: no-repeat;
  align-self: center;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'manuskriptgotisch';
  src: url('font/Y1800/manuskriptgotisch-webfont.woff2') format('woff2'),
       url('font/Y1800/manuskriptgotisch-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'opulence';
  src: url('font/Y1800/opulence-webfont.woff2') format('woff2'),
       url('font/Y1800/opulence-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'verdanaregular';
  src: url('font/Y80s/verdana-webfont.woff2') format('woff2'),
       url('font/Y80s/verdana-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h1, h2, button {font-family: 'manuskriptgotisch', normal !important; color: rgb(255, 255, 255);} 
h3, h4, h5, h6 {font-family: 'opulence', normal !important; color: rgb(255, 255, 255);}
p, a, ul, li, figcaption, label {font-family: 'Times New Roman', serif !important; color: rgb(255, 255, 255); font-size: 0.9em;}

figcaption p{
  font-family: 'opulence', normal !important; color: rgb(0, 0, 0);
}
.smallChar{
  font-family: 'Times New Roman', serif !important; color: rgb(0, 0, 0);
}
.dataPublished{
  font-family: 'opulence', normal !important; color: rgb(0, 0, 0);
}
.custom-select div{
  font-family: 'manuskriptgotisch', normal !important; color: rgb(255, 255, 255);
}

.custom-select h4{
  font-family: 'manuskriptgotisch', normal !important; color: rgb(255, 255, 255);
}

h1, button{
  text-transform: lowercase;  
  font-weight:normal !important;
}

h1:first-letter, button:first-letter {
  text-transform: capitalize;
}

/*ARTICLES*/

.text_issue p, button{
  color: rgb(255, 255, 255);
}

.text_issue button{
  color: rgb(255, 255, 255);
}

#lens_selected {
  filter: invert();
}

#one_article article{
  column-count: 4;
  column-rule-width: 0.15em;
  column-rule-style: solid;
  column-rule-color: black;
  text-align: justify;
  text-justify: inter-word;
}

#two_article article{
  column-count: 2;
  column-rule-width: 0.15em;
  column-rule-style: solid;
  column-rule-color: black;
  text-align: justify;
  text-justify: inter-word;
}
#three_article article{
  text-align: justify;
  text-justify: inter-word;
}

.one_colum .expand {
  max-width: 100%;
}

.subtitle{
  font-family: 'opulence', normal !important;
}

.content_article{

  overflow: hidden;
    height: 99.4%;
    width: 76%;
    background-color: #ffffff;
    border: 0.125em rgb(0, 0, 0) solid;
}
.article {
  border-right: 0.2em black solid;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(90, 90, 90, 0.5);
}
.up_logo {
  margin-block-start: 0.1em;
}

.content_article img{
  filter:grayscale(100%);
  width: 100%;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  border-top: 0.125em rgb(0, 0, 0) solid;
  border-bottom: 0.125em rgb(0, 0, 0) solid;
}

.article h1{
  text-align: center;
  border-bottom: 0.046em black solid;
  margin-bottom: 0em;
  padding-bottom: 0.5em;
  }

.article h3, .article h4, .article h5, .article h6, .article .subtitle{
 text-transform: uppercase;
}

.article h2{
  margin-top: 0.5em;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.644) ;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.select-items {
  background-color: rgb(0, 0, 0);
  border: 0.125em white solid;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}


/*COVER*/

.cover_content h1, button, p{
  color: rgb(0, 0, 0);
} 

.cover_content{
  display: block;
  transform: translate(-50%, -50%) scale(1.2);
  position: absolute;
  width: 43em;
  min-width: 40em;
  height: 31em;
  background: rgb(255, 255, 255);
  border:  0.125em white solid;
  padding: 1%;
  padding-left: 1.5%;
}

.logo_big {
  width: fit-content;
  order: 1;
  font-size: 100%;
  margin-left: 6%;
  padding-bottom: 0.9em;
  border-bottom: solid rgb(0, 0, 0) 0.2em;
  
}

.cover_content img{
  float:right;
  order: 2;
  width: 21em;
  animation: dontPanic 1s ease-in-out 2 alternate-reverse;
}

.cover_content img:hover{
  animation: dontPanic_hover 1s ease-in-out 2 alternate-reverse;
}


@keyframes dontPanic {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes dontPanic_hover {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.cover_logo{
  display: flex;
  float:left;
  flex-direction: column;
  width: 56%;
  border-right: solid rgb(0, 0, 0) 0.3em;
  border-left: solid rgb(0, 0, 0) 0.3em;
  padding-bottom: 2%;
}


.cover_text{
  width: 34%;
  height: fit-content;
  margin-top: 0em;
  float: left;
  font-size: 110%;
  margin-left: 1.8em;
  text-align: justify;
  /*column-count: 2;*/
  padding-top: 1em;
  /*column-rule-width: 1px;
  column-rule-style: solid;
  column-rule-color: black;*/
}

.cover_text .large_button{
  border-bottom: solid rgb(0, 0, 0) 0.15em;
  border-top: solid rgb(0, 0, 0) 0.15em;
  margin-top: 0em;
  padding: 0.7em;
}

.cover_text p {
  margin-top: 0 !important;
}

/*ALERT*/

.disclamer_text {
  height: 55%;
  min-height: 55%;
  overflow: hidden;
  overflow-y: scroll;
} 

#alert {
  z-index: 7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.68);
  display: none;
}

.allert_box {
  border: 0em;
}

.allert_content {
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  height: 100%;
}

.allert_box .close {
  color: rgb(0, 0, 0);
}

.disclamer hr {
  border: 1px solid rgb(0, 0, 0);
}

.disclamer .large_button{
  margin-bottom: 0.3em;
  padding: 0.7em;
  border-color: rgb(0, 0, 0);
}

.disclamer p, .disclamer li, .team_box h3, .disclamer h1{
  color: rgb(0, 0, 0);
}

.explain {
  padding-top: 0.625em;
  width: 100%;
  display: none;
  background-color: rgb(167, 167, 167);;
  transition: all 0.5s ease 0s;
}

.explain p {
  color: rgb(0, 0, 0);
}

.disclamer {
  width: 62%;
  height: 90%;
  margin-top: 4%;
  margin-right: 10%;
  font-size: 1.2em;
}


.disclamer_link a{

  color: black;
}

.team_box h1 {
  margin-bottom: 0em;
  color: black;
}

.allert_content .large_button{
 border-left: 0em;
 border-right: 0em;

}

.team_box .arrow {
  border: solid rgb(0, 0, 0);
  border-width: 0 0.3em 0.3em 0;
}

.card .little_button{
  color: #ffffff;
}

.margin_cards h3{
  font-size: 1em;
}
/*

.up_logo {
  font-size: 3.5em;
}

.bottom_logo {
  margin-top: -14px;
  font-size: 2.5em;
}

.cover_content {
  background-color: rgb(16 44 65);
}

.hr_lens{
  margin-right: 58%;
  }



  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(49, 49, 49, 0.5) ;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .content_article{

    overflow: hidden;
      height: 99.4%;
      width: 76%;
      background-color: #ffffffba;
      border: 0.125em white solid;
  }

  /*.p ::first-letter*/



  #issue_first_cover{
    background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Y300img/1800_11.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
  }
  
  #article_cover_1_1 {
    background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Y300img/8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 85%;
    height: 85%;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
  
  }
  
  #article_cover_1_2 {
    background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Y300img/81.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 85%;
    height: 85%;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
  
  }
  
  #article_cover_1_3 {
    background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Y300img/83.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 85%;
    height: 85%;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
  
  }
  
  #issue_second_cover{
    background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Y300img/1800_21.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
  }
  
  #article_cover_2_1 {
    background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Y300img/84.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 85%;
    height: 85%;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
  
  }
  
  #article_cover_2_2 {
    background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Y300img/86.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 85%;
    height: 85%;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
  
  }
  
  #article_cover_2_3 {
    background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Y300img/87.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 85%;
    height: 85%;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
  
  }
  
  #issue_therd_cover{
    background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Y300img/1800_31.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
  }
  
  #article_cover_3_1 {
    background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Y300img/88.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 85%;
    height: 85%;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
  
  }
  
  #article_cover_3_2 {
    background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Y300img/91.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 85%;
    height: 85%;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
  
  }
  
  #article_cover_3_3 {
    background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Y300img/92.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 85%;
    height: 85%;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
  
  }
  
  .content_article #logo_img{
    margin: 0em !important;
    border: 0em !important;
    padding: 0em !important;
  }
  
















