body {
	background: linear-gradient(160deg,rgb(238, 255, 0) 0, rgb(255 255 255) 40%, rgb(0, 26, 255) 100%);
  background-repeat: no-repeat;
  align-self: center;
  height: 100vh;
  overflow: hidden;
  font-family: 'futura-bold', sans-serif;
}



/*title*/
@font-face {
  font-family: 'planet_n_compact_condensedCn';
  src: url('font/Y40s/planetncompactcond-webfont.woff2') format('woff2'),
       url('font/Y40s/planetncompactcond-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'planet_n_compact_expaexpanded';
  src: url('font/Y40s/planetncompactexpand-webfont.woff2') format('woff2'),
       url('font/Y40s/planetncompactexpand-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/*subtitle*/
 @font-face {
    font-family: 'preussischeiv44ausgabe3Rg';
    src: url('font/Y40s/pr_iv_44_ausg3-webfont.woff2') format('woff2'),
         url('font/Y40s/pr_iv_44_ausg3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*text*/
@font-face {
  font-family: 'futura_bold';
  src: url('font/Y40s/futura_bold_font-webfont.woff2') format('woff2'),
       url('font/Y40s/futura_bold_font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura_regular';
  src: url('font/Y40s/futura_medium_bt-webfont.woff2') format('woff2'),
       url('font/Y40s/futura_medium_bt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {font-family: 'planet_n_compact_condensedCn' !important; color: white !important; text-transform: uppercase !important;} 
h2, h3, h4, h5, h6, button, label {font-family: 'preussischeiv44ausgabe3Rg', cursive !important; color:  white; text-transform: uppercase;} 
p  {font-family: 'futura_regular', serif !important; color: white; font-size: 0.9em;}
ul, li {font-family: 'futura_bold', sans-serif !important; color: red !important; font-size: 0.9em;}
a, dl, dt, dd {font-family: 'futura_bold', sans-serif !important; color: rgb(255, 0, 0) !important; font-size: 0.9em;}
figcaption  {font-family: 'futura_bold', serif !important; color: white; font-size: 0.9em;}

.custom-select {
  font-family: 'preussischeiv44ausgabe3Rg' !important;
  text-transform: uppercase;  
}

.select-items div, .select-selected {
  font-family: 'preussischeiv44ausgabe3Rg' !important;
  text-transform: uppercase;
  color: white;  
}

.dropdown_article h4{
  font-family: 'preussischeiv44ausgabe3Rg' !important;
}

.logo_big {
  padding-top:2.2em;
  
}

.logo_big .bottom_logo {
  padding-left: 0 !important;
}

.up_logo {
  font-size: 5em !important;
  font-family: 'planet_n_compact_condensedCn'!important;
  color: rgb(255, 0, 0) !important;  
}

.bottom_logo {
  margin-top: -5px;
  font-size: 2.5em;
  padding-left: 7.5em;
  font-family: 'preussischeiv44ausgabe3Rg'!important;
  color: rgb(255, 0, 0) !important;  
}

.menu{
  font-size: 2em;
  margin-left: 2em ;
}


.cover_content{
    border: 0.3em white solid !important;
    background-color: rgb(0, 0, 0);
    padding-left: 7em;
    padding-top: 2em;
}

.cover_content h1{
  font-size: 3em !important;
}

.allert_content {
  border: none !important;
  background-color: rgb(0, 0, 0);
}

.cover_content img{
  padding-bottom: 1em;
  margin-left: 3em;
  float: right;
  width: 10em;
  animation: dontPanic 1s ease-in-out 2 alternate-reverse;
}

.smallChar{
  padding: 0.6em !important;
}

.isolate{
  padding-bottom: 0.6em !important;
}
.hr_lens{
  margin-right: 58%;
  }


.cover_logo{
    float: left;
    display: block;
    width: 40em;
    margin: 0 auto;
    margin-bottom: 1em;
    align-items: center;
  }
  
 .cover_text{
    border-top: solid rgb(255, 0, 0) 0.3em;
    width: 45em;
    margin: 0 auto;
    column-count: 2;
    padding-top: 1em;
    float: left;
  }
  
.cover_text p {
    margin-top: 0 !important;
    text-align: justify;
  }
  
  .large_button{
    width: 100%;
  }
  
  .disclamer button{
    max-width: 445px;
  }

  .disclamer_text{
    font-size: 1.1em !important;
  }

  #alert {
    background-color: rgb(42, 122, 168 / 22%);
  }
  
  .allert_box {
    background-origin: padding-box;
    padding: 2em;
    border: solid rgb(255, 0, 0) 0.3em;
  }

  .person_team{
  border-bottom: solid white 0.3em;;
}

.world{
  border: solid rgb(255, 0, 0) 0.2em;;
}

.lensbox{
  border: solid rgb(255, 0, 0) 0.2em;;
}

.overlay {
  background-color:rgba(255, 0, 0, 0.8);
}

.overlay p {
  font-weight: bolder;
}

.text_issue button{
  width: 90%;
}

.card {
  border: 0.2em rgb(255, 0, 0) solid;
}

.article_box {
  border-bottom: 0.2em rgb(255, 0, 0) solid;
  border-left: 0.2em rgb(255, 0, 0) solid;
}


.article {
  border-right: 0.2em rgb(255, 0, 0) solid;
}

.metadata {
  border-bottom: 0.2em rgb(255, 0, 0) solid;
  border-right: 0.2em rgb(255, 0, 0) solid;
}

.metadata_menu{
  background-color: rgba(0, 0, 0, 0.7);
  border: 0.2em rgb(255, 0, 0) solid;
}

.metadata_menu a{
  color: white !important;
}

.show_meta_one .meta, .show_meta_two .meta, .show_meta_three .meta{
  border-bottom: 0.2em rgb(255, 0, 0);
}

.show_meta_down .meta{
  border: 0.2em rgb(255, 0, 0);
  margin-right: 0.5em;
  padding-left: 1em;
}

/* two class to close!!! NON CANCELLARE*/


.text_meta .arrow{
  border: solid black;
  border-width: 0 0.3em 0.3em 0;
}

/* Basic Article Display CSS */

.one_colum > .article > .text > article {
  padding-bottom: 13%;
}

.three_colum > .article > .text > article {
  padding-bottom: 33%;
}

.content_article {
  background-color: rgb(233, 222, 186);
  border: 0.2em rgb(255, 0, 0) solid;
}

.captionArticle{
  margin-bottom: 02em !important;
}

.content_article h1 {
  color: rgb(0, 0, 0)  !important;
  font-size: 3em !important; 
  font-weight:bolder !important;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
  text-align: justify;
  text-justify: inter-character;
}

.content_article h2 {
  color: rgb(255, 0, 0) !important;
  font-weight: lighter;
  margin-top: 0.5em;
  margin-bottom: -0.5em;
}

.content_article h3 {
  color: rgb(255, 0, 0) !important;
  font-weight: lighter;
  margin-bottom: -0.8em;
  margin-top: 0.8em;
}

.content_article a {
  color: black !important;
  font-weight: lighter;
}

.content_article p {
  font-weight: lighter;
  margin-top: -0.6em !important;
  margin-bottom: -0.6em !important;
  padding-top: 1em;
  margin-left: -0.3em;
  margin-right: -0.3em;
  text-align: justify;
  text-justify: inter-word;
}

.content_article table{
  margin-top: 2em !important;
}

.content_article p.subtitle {
color: rgb(255, 0, 0) !important;
padding-bottom: 1em !important;
margin-top: -0.5em !important;
}

.content_article p:first-child{
  border-top: none;
}

.content_article hr {
  border: 0.01em rgb(233, 222, 186) solid !important;
  margin-bottom: -2em;
}

.content_article img{
  filter: grayscale(100%) contrast(110%) sepia(50%);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.content_article figcaption {
  color: rgb(255, 0, 0) !important;
  text-align: left;
  font-size: 1.125em;
  margin-bottom: 0.5em;
}

figcaption p{
  column-count: unset !important;
}

.large_button{
  color: white;
  font-family: "preussischeiv44ausgabe3Rg" !important;
  font-weight: 900;
}

.subtitle {
  color: rgb(255, 0, 0) !important;
  font-family: "preussischeiv44ausgabe3Rg" !important;
  font-size: 1.2em !important;
}

#article_1_name, #article_2_name, #article_3_name {
  color: rgb(255, 0, 0) !important;
}


.stars1 {
  animation: space 20s ease-in-out infinite;
  background-image:
    radial-gradient(
      40px 1px at 25px 5px, 
      rgb(255, 0, 0), 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 40px at 50px 25px, 
      rgb(0, 255, 0),  
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      40px 1px at 125px 20px, 
      rgb(255, 174, 0),  
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 40px at 50px 75px, 
      rgb(0, 17, 255),  
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      40px 1px at 15px 125px, 
      rgb(175, 41, 124),  
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 40px at 110px 80px, 
      rgb(124, 175, 41),  
      rgba(255, 255, 255, 0)
    );
  
}
.stars2 {
  animation: space 15s ease-in-out infinite;
  background-image:
  radial-gradient(
    4px 50px at 25px 5px, 
    rgb(255, 0, 0), 
    rgba(255, 255, 255, 0)
  ),
  radial-gradient(
    50px 4px at 50px 25px, 
    rgb(0, 255, 0),  
    rgba(255, 255, 255, 0)
  ),
  radial-gradient(
    4px 50px at 125px 20px, 
    rgb(255, 174, 0),  
    rgba(255, 255, 255, 0)
  ),
  radial-gradient(
    50px 4px at 50px 75px, 
    rgb(0, 17, 255),  
    rgba(255, 255, 255, 0)
  ),
  radial-gradient(
    4px 50px at 15px 125px, 
    rgb(175, 41, 124),  
    rgba(255, 255, 255, 0)
  ),
  radial-gradient(
    50px 4px at 110px 80px, 
    rgb(124, 175, 41),  
    rgba(255, 255, 255, 0)
  );

}
	
.stars3 {
  animation: space 10s ease-in-out infinite;
  background-image:
    radial-gradient(
      2px 60px at 25px 5px, 
      rgb(255, 0, 0), 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      60px 2px at 50px 25px, 
      rgb(0, 255, 0),  
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 60px at 125px 20px, 
      rgb(255, 174, 0),  
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      60px 2px at 50px 75px, 
      rgb(0, 17, 255),  
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 60px at 15px 125px, 
      rgb(175, 41, 124),  
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      60px 2px at 110px 80px, 
      rgb(124, 175, 41),  
      rgba(255, 255, 255, 0)
    );

}

#one_article article{
  column-count: 4;
}

#three_article article{
  column-count: 1;
}

#two_article article{
  column-count: 2;
}

.help{
  filter: invert();
  }
  
  .lensbox span {
    background-color: rgb(255, 0, 0) !important; ;
  }

  .lens_menu_icon {
    filter: invert();
}

/*cover images*/


#issue_first_cover{
	background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Deep_Thoughts/Y40/cover_1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
}

#article_cover_1_1 {
  background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Deep_Thoughts/Y40/small_3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  left: 7.5%;

}

#article_cover_1_2 {
  background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Deep_Thoughts/Y40/small_1_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  left: 7.5%;

}

#article_cover_1_3 {
  background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Deep_Thoughts/Y40/small_2_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  left: 7.5%;

}

#issue_second_cover{
	background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Magratears/Y40/cover_2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
}

#article_cover_2_1 {
  background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Magratears/Y40/small_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  left: 7.5%;

}

#article_cover_2_2 {
  background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Magratears/Y40/small_1_3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  left: 7.5%;

}

#article_cover_2_3 {
  background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Magratears/Y40/small_2_3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  left: 7.5%;

}

#issue_therd_cover{
	background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Vogueon/Y40/cover_3.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
}

#article_cover_3_1 {
  background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Vogueon/Y40/small_1_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  left: 7.5%;

}

#article_cover_3_2 {
  background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Vogueon/Y40/small_2_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  left: 7.5%;

}

#article_cover_3_3 {
  background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Vogueon/Y40/small_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  left: 7.5%;

}

.explain{
  background-color:rgba(255, 0, 0, 0.8) ;
}

.team_text{
  background-color:rgba(255, 0, 0, 0.8) ;
}