.hr_lens{
  width: 13.5%;
  margin-right: 86%;
}

body {
  background: linear-gradient(
    38deg, rgb(105 82 131) 0%, rgb(62 157 128) 25%, rgb(31 16 102) 45%, rgb(5 9 32) 85%, rgb(28 43 118) 100%);
  background-repeat: no-repeat;
  align-self: center;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}


@font-face {
  font-family: 'neon';
  src: url('font/future/iamonlinewithu-o96q-webfont.woff2') format('woff2'),
       url('font/future/iamonlinewithu-o96q-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'VT323';
  src: url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
  font-weight: normal;
  font-style: normal;

}

h1, h2, button{    font-family: 'neon', cursive !important;
  color: #fff; } 
p, a, ul, li, figcaption  {font-family: 'VT323', monospace, sans-serif !important; color: white; font-size: 0.9em;}

button {
  border: none;
  border-bottom: 0.2rem solid #fff !important;
 
}

.large_button {
  padding: none !important;
  margin: none !important;
}

.logo_big {
  border: 0.3em white solid;
    border-radius: 2em;
    width: fit-content;
    font-size: 86%;
    padding: 1em 2em 1em 2em;
    box-shadow: 0 0 2em rgb(0 221 29);
    animation: glow 1s ease-in-out alternate infinite;
}

@keyframes glow {
    
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    
      text-shadow:
          -0.2rem -0.2rem 1rem #fff,
          0.2rem 0.2rem 1rem #fff,
          0 0 2rem rgb(248 151 223),
          0 0 10rem rgb(248 151 223);
      
      box-shadow:
          0 0 .5rem #fff,
          0 0 4rem rgb(0 221 29),       
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
      box-shadow: none;
  }    
}



.bottom_logo {
  margin-top: -14px;
  font-size: 2em;
  margin-left: 4.3em;
}

.cover_content {
  background: linear-gradient( 
    184deg, rgb(2 31 56) 0%, rgb(0 188 245 / 29%) 100%);
  border: 0.3em white solid;
  border-radius: 2em;
  padding: 3%;
  box-shadow: 0 0 2em rgb(0 221 29);
}

.cover_content img {
  display: none;
}

.cover_text p {
  font-size: 1.3em;
  text-align: justify;
  color: #1bcd4a;
  margin-top: 0;
}

.team_box {
  overflow: inherit;
}

















