body {
	background: radial-gradient(circle at bottom, rgb(151, 197, 25) 0, black 100%);
  background-repeat: no-repeat;
  align-self: center;
  height: 100vh;
  overflow: hidden;
}

.hr_lens{
  width: 13.5%;
  margin-right: 86%;
}

























