/*********************************************************
	//
 _oo\
(__/ \  _  _
   \  \/ \/ \		TEMPLATE DI GIULIA
   (         )\		
    \_______/  \
     [[] [[]
     [[] [[]
**********************************************************/
*{margin: 0px; padding: 0px;}



body{font-size: 1em;}
html{font-size: 100%;}
ul, ol{ list-style: none;}
a, li{text-decoration: none !important;}
a img{border:none !important;}

header, footer, section, article, figure, aside, video, audio, hgroup, nav{display: block;}

h1, h2, h3, h4, h5, h6, label {font-family: 'Bebas Neue', cursive !important; color: white;} 
p, a, ul, li, figcaption  {font-family: 'Roboto', sans-serif !important; color: white;}

hr {border: -1em white solid;}

.display{display: block !important;}
.display_none{display: none;}

.clear{clear: both;}
.left{float: left;}
.right {float: right;}

/*----button----*/

button {
  direction: none;
  font-family: 'Bebas Neue', cursive !important;
  color: white;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 0.125em white solid;
  cursor:pointer;
  overflow: hidden;
}

.large_button{
  font-size: 1.5em;
  padding: 1em;
}

.little_button{
  font-size: 1em;
  padding: 0.5em;
}

button:hover{
  background-color: rgba(255,255,255,0.3);
}

.b-contain *, .b-contain *::before, .b-contain *::after {
  box-sizing: content-box !important;
}

.b-contain input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.b-contain span {
  line-height: 1.19;
  font-size: 1.32rem;
  font-family: inherit;
}

.b-contain {
  display: table;
  position: relative;
  padding-left: 2.04rem;
  cursor: pointer;
}

.b-margin {
  display: table;
  position: relative;
  padding-left: 2.04rem;
  cursor: pointer;
  margin-bottom: 1.17rem;
}

.b-contain input[type="checkbox"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.51rem;
  background: rgba(241, 245, 248, 0);
  transition: background 250ms;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 0rem;
}

.b-contain input[type="checkbox"] ~ .b-input::after {
  content: '';
  position: absolute;
  display: none;
  left: 0.57rem;
  top: 0.28rem;
  width: .25rem;
  height: .6rem;
  border: solid rgba(255, 255, 255, 1);
  border-width: 0 3px 3px 0;
  transition: background 250ms;
  transform: rotate(45deg);
}


.b-contain input:disabled ~ .b-input::after {
  border-color: rgba(135, 149, 161, 1);
}

.b-contain input:checked ~ .b-input::after {
  display: block;
}

/*-----arrow-----*/

.arrow {
  border: solid white;
  border-width: 0 0.3em 0.3em 0;
  display: inline-block;
  font-size: 1em;
  padding: 0.3em;
}

.a_right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.a_left {
  transform: rotate(135deg) !important;
  -webkit-transform: rotate(135deg) !important;
}

.a_up {
  transform: rotate(-135deg) !important ;
  -webkit-transform: rotate(-135deg) !important;
}

.a_down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* scrivere codice da qui */


/*background*/

body {
	background: radial-gradient(circle at bottom, navy 0, black 100%);
  background-repeat: no-repeat;
  align-self: center;
  height: 100vh;
  overflow: hidden;
}

.space {
	height: 300%;
	width: 200%;
  background: rgba(16,4,67,0.10) center / 200px 200px round;
  border: 1px dashed purple;
  bottom: -50%;
  left: -50%;
  position: absolute;
  right: -50%;
  top: -50%;
}

.stars1 {
  animation: space 100s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 25px 5px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 50px 25px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 125px 20px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 50px 75px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 15px 125px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 110px 80px, 
      white, 
      rgba(255, 255, 255, 0)
    );
  
}
.stars2 {
  animation: space 220s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 75px 125px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 100px 75px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 199px 100px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 20px 50px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 100px 5px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 5px 5px, 
      white, 
      rgba(255, 255, 255, 0)
	);
}
	
.stars3 {
  animation: space 280s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 10px 10px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 150px 150px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 60px 170px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 175px 180px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 195px 95px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 95px 145px, 
      white, 
      rgba(255, 255, 255, 0)
    );
}

@keyframes space {
  40% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.15;
  }
  60% {
    opacity: 0.85;
  }
  100% {
    transform: rotate(360deg);
  }
}

/*COVER*/
.cover_content{
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  position: absolute;
 
  min-width: 48em;
  height: 22em;
  background: rgba(16,4,67,1);
  border:  0.125em white solid;
  padding: 3%;
}

.logo_big {
  width: fit-content;
  font-size: 130%;
}

.cover_content img{
  margin-bottom: -1.3em;
  margin-left: 2.1em;
  width: 13em;
  animation: dontPanic 1s ease-in-out 2 alternate-reverse;
}

.cover_content img:hover{
  animation: dontPanic_hover 1s ease-in-out 2 alternate-reverse;
}


@keyframes dontPanic {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes dontPanic_hover {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.cover_logo{
  float: left;
}


.cover_text{
  width: 24em;
  margin-left: 3em;
  float: right;
}

.cover_text button{
  margin-top: 1em;
}



/*NAVIGATOR*/

.nav{
	z-index: 5;
	position: absolute;
  height: 15%;
  width: 90%;
	top: 5%;
	left: 5%;
	right: 5%;
  bottom: 5%;
}

.menu {
  margin-top: 1em;
  margin-left: 0.5em;
}

.menu_item {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  color: white;
  padding: 1em;
  display: inline;
  text-align: left;
}

.menu:hover hr{
  display: block !important;
}

.menu .one:hover ~ hr {
  width: 26%;
}

.menu .two:hover ~ hr {
  margin-left: 45%;
  width: 49%;
}

.menu hr{
  margin-left: 0.8rem;
  height: .25rem;
  width: 26%;
  background: white;
  border: none;
  transition: .3s ease-in-out;
}

/*-----logo------*/

.logo{
	width: fit-content;
}

.up_logo{
	font-size: 4em;
}

.bottom_logo{
	margin-top: -14px;
	font-size: 3em;
}


/*-----Lens------*/ 

.lensbox, .lens {
  display: flex;
  justify-content: center;
  align-items: center;
}

.help{
display:flex;
flex-direction: column;
width: 0;
transition: 0.6s;
}

.lensbox {
  top: 10px;
  position: relative;
  border: 0.125em white solid;
  padding-left: 11.5px;
  padding-right: 11.5px;
  padding-bottom: 8px;
  padding-top: 8px;
  transition: 0.5s;
  border-radius: 50px;
  overflow: hidden;
}

.lens {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-x: scroll;
  
}

/* Hide scrollbar Chrome, Safari, Opera */
.lens::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar IE, Edge, Firefox */
.lens {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.lens_menu_icon{
  position:absolute;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  pointer-events: none;
 
  visibility: visible;
  opacity: 1;
  
}

.lensbox input:checked ~ .help {
  width: 22rem;
  padding-right: 0.5rem;
 }

.lens_and_line{
display:flex;

}
.lens li{
 align-self: flex-start;
  display: inline;
  list-style: none;
  margin: 0 5px;
  transition: 0.5s;
}

.lensbox input {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
}

.lensbox span {
  display: none;
  position: absolute;
  left: 15px;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: white;
  pointer-events: none;
  transition: 0.8s;
}

.lensbox input:checked ~ span {
  display:inline;
}


.lensbox span:nth-child(3) {
  transform: translateY(-8px);
}

.lensbox input:checked ~ span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}
.lensbox span:nth-child(4) {
  transform: translateY(8px);
}

.lensbox input:checked ~ span:nth-child(4) {
  transform: translateY(0) rotate(45deg);
}

.lensbox input:checked ~ .lens_menu_icon{
/*display: none;*/
visibility: hidden;
opacity: 0;
transition: visibility 0s, opacity 0.5s linear;
}

.hr_lens{
width: 13.5%;
margin-right: 0%;
}

.help div{
transition: .3s ease-in-out;
margin-top: 0 !important;
height: .25rem;
width: 13.5%;
background: white;
border: none;
transition: .3s ease-in-out;
align-self: flex-end;
float: right;
margin-right: 0%;
}


/*-----DISCLAIMER ICON------*/

.info_box{
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 5;
    right: 5%;
    bottom: 5.1%;
}

.world {
  border: 0.125em white solid;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}




/*DISCLAIMER POPUP BOX*/


#allert{
  z-index: 7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(22 9 70 / 68%);;
  display: none;
}

#allert:target {
  visibility: visible;
  display: block;
}

.allert_box{
  border:  0.125em white solid;
  width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  transition: all 5s ease-in-out;
}

/*@media only screen and (max-width: 1429px) {
  .allert_box {
    width: 70%;
    height: 70%;
  }
}*/

.allert_box .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.allert_box .close:hover {
  color: #06D85F;
}

.allert_content {
  background: rgba(16,4,67,1);
  position: relative;
    width: 100%;
    height: 100%;
    
}


.disclamer  {
  width: 62%;
  height: auto;
  margin-top: 2.5%;
  margin-right: 10%;
}

.disclamer h1{
  margin-bottom: 0.5em;
}

.disclamer hr, p, ul {
  margin-bottom: 1em;
}

/*team*/

.team_box{
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  overflow: hidden;
  margin-left: 3%;
  width: 20%;
  height: 90%;
  margin-top: 2.5%;
}

.team_box_scroll{
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* Hide scrollbar Chrome, Safari, Opera */
.team_box_scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar IE, Edge, Firefox */
.team_box_scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.team_box h1 {
  margin-bottom: 0.5em;
}

.person_team{
  width: 100%;
  height: 26.333333%;
  border-bottom: 0.125em white solid;
  transition: .5s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
}

.fit{
  height: fit-content !important;
  transition: .5s ease;
}

#Camilla{
  /*background-image: url("img/delfino.jpg");*/
  background-color: #06D85F;
  margin-bottom: 1.3em;
}

#Giorgia{
  /*background-image: url("img/delfino.jpg");*/
  background-color: #d8ca06;
  margin-bottom: 1.3em;
}

#Giulia{
  /*background-image: url("img/delfino.jpg");*/
  background-color: #c606d8;
}

.empty{
  width: 100%;
  height: 80%;
  
}

.team_text{
  width: 90%;
  margin: 0 5%;
  margin-top: 10%;
  padding-bottom: 0.625em;
}

.explain{
  padding-top: 0.625em;
  width: 100%;
  display: none;
  background-color: rgba(125, 84, 236, 0.5);
  transition: .5s ease;
}


/*CONTENT - ARCHIVE*/

.scrolling_content{
  position: absolute;
  z-index: 3;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  height: 75%;
  width: 90%;
  top: 20%;
  left: 5%;
  right: 5%;
  bottom: 5%;
}

/* Hide scrollbar Chrome, Safari, Opera */
.scrolling_content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar IE, Edge, Firefox */
.scrolling_content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.card {
  width: fit-content;
  height: 90%;
  display: inline-block;
  margin-right: 50px;  
  border:  0.125em white solid;

}

.issue {
  position: relative;
  width: 350px;
  height: 100%;
}

.articles {
  display: none;
  width: 200px;
  height: 100%;
}

.article_box{
  position: relative;
  width: 100%;
  height: 33.2%;
  border-bottom:  0.125em white solid;
  border-left:  0.125em white solid;
}

.no_bottom_border{
  border-bottom: none !important;
}

#issue_first_cover{
	background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/DeepThoughts_default.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
}

#article_cover_1_1 {
  background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/pasta.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  left: 7.5%;

}

#article_cover_1_2 {
  background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/flat_earth.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  left: 7.5%;

}

#article_cover_1_3 {
  background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/flat_earth.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  left: 7.5%;

}

#issue_second_cover{
	background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Magratears_default.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
}

#article_cover_2_1 {
  background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/pasta.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  left: 7.5%;

}

#article_cover_2_2 {
  background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/flat_earth.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  left: 7.5%;

}

#article_cover_2_3 {
  background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/flat_earth.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  left: 7.5%;

}

#issue_therd_cover{
	background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/Vogueon_default.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
}

#article_cover_3_1 {
  background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/pasta.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  left: 7.5%;

}

#article_cover_3_2 {
  background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/flat_earth.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  left: 7.5%;

}

#article_cover_3_3 {
  background-image: radial-gradient(rgba(39, 70, 107, 0), rgba(39, 70, 107, 0) ), url("img/flat_earth.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  left: 7.5%;

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(86,20,182,0.5) ;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

div.issue:hover .overlay {
  height: 100%;
}

div.article_box:hover .overlay {
  height: 100%;
}


.margin_cards {
  width: 90%;
  height: 90%;
  margin: 10% auto;
  overflow: hidden;
}

.arrow_box_archive {
    width: 10%;
    padding-top: 7%;
}


.text_issue{
  white-space: normal !important;
  width: 85%;
  height: 60%;
}


.text_issue h1, hr, p {
  margin-top: 0.9375em;
}

.text_issue button {
  position: absolute;
  bottom: 10%;
}

.text_article{
  white-space: normal !important;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}


.text_article h3, hr{
  margin-top: 0.7em;
}

.text_article button {
  position: absolute;
  bottom: 5%;
}


/*----ARTICLE_VIEWER.HTML-----*/

.content_viewer{

  overflow: hidden;
    position: absolute;
    z-index: 3;
    height: 75%;
    width: 118%;
    top: 20%;
    left: -23%;
    right: 5%;
    bottom: 5%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.move {
  left: 0 !Important;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

/*-----Sidebar menu------*/

.metadata_menu {
    border: 0.125em white solid;
    border-left: none;
    position: absolute;
    width: 22%;
    height: 90%;
}


.arrow_box {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
}

.metadataviewr_box {
    top: 10%;
    left: 5%;
    width: 79%;
    height: 80%;
    position: inherit;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Hide scrollbar Chrome, Safari, Opera */
.metadataviewr_box::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar IE, Edge, Firefox */
.metadataviewr_box {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*-----Form------*/

.mv_form_box {
    width: 100%;
    margin-top: 1em;
    margin-left: 0.3em;
    position: relative;
}

.form_margin{
  margin-top: 1em;
}

.refresh{
  position: relative;
  right: 0.5em;
  top: 0.2em;
}

.refresh svg {
  transition: transform .7s ease-in-out;
}
.refresh svg:hover {
  transform: rotate(360deg);
}

/*-----Select menu issue------*/


.custom-select {
  margin-bottom: 1em;
  width: 90%;
  text-align: left;
  position: relative;
  font-family: 'Bebas Neue', cursive !important;
  color: white;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 0.125em white solid;
  cursor:pointer;
  font-size: 1.5em;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: Transparent;
  background-repeat:no-repeat;
  
}

.select-selected:after {
  font-size: 0.7em;
  content: "";
  position: absolute;
  top: 1.1625em;
  right: 7%;
  width: 0;
  height: 0;
  border: solid white;
  border-width: 0 0.2em 0.2em 0;
  display: inline-block;
  padding: 0.3em;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.select-selected.select-arrow-active:after {
  transform: rotate(-135deg) !important ;
  -webkit-transform: rotate(-135deg) !important;
}

.select-items div,.select-selected {
  padding: 6.5%;
  border: 1.5px solid transparent;
  border-color: transparent transparent rgba(225, 225, 225, 225.5) transparent;
  font-family: 'Bebas Neue', cursive !important;
  color: white;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  
}
}/* two class to close!!! NON CANCELLARE*/


.select-items {
  position: absolute;
  background-color: rgba(86,20,182,0.5);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(86,20,182,0.5);
}

/*-----Select menu article------*/

.choose_article_box{
  padding: 0.6em;

}

.arrow_drop{
  margin-top: 0.5em;
    border: solid white;
    border-width: 0 0.25em 0.25em 0;
    display: inline-block;
    padding: 0.3em;
    font-size: 0.65em;
}

.dropdown_item {
  width: 93%;
  font-size: 0.5em;
  color: white;
  text-decoration: none;
  padding-top: 1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  display: inline-block;
  text-align: left;
  border-top: 0.125em white solid;
}

.drop_content {
  display: none;
  width: 100%;
}


/*-----ARTICLE VIEWER------*/



/* Basic Article Display CSS */

.content_article{

  overflow: hidden;
    height: 99.4%;
    width: 76%;
    background-color: #58bb73ba;
    border: 0.125em white solid;
}

.content_article h1 {
  color: black !important;
  font-weight: lighter;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.content_article h2 {
  color: black !important;
  font-weight: lighter;
  margin-bottom: 0.5em;
}

.content_article h3 {
  color: black !important;
  font-weight: lighter;
  margin-bottom: 0.5em;
}

.content_article a {
  color: black !important;
  font-weight: lighter;
}

.content_article p {
  color: black !important;
  font-weight: lighter;
  margin: 1em 0 !important;
}

.content_article hr {
  border: 0.01em black solid !important;
}

.content_article img{
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.content_article figcaption {
  color: black !important;
  text-align: left;
  font-size: 1.125em;
  margin-bottom: 0.5em;
}

article {
  margin: 0 auto;
}

.bigger{
  padding-left: 15%;
  padding-right: 15%;
  width: auto;
}

.italic{
  font-style: italic;
}


.author {
  display: block !important;
  margin-bottom: 3%;
  height: 100%;
}

.namePhoto{
  font-size: 0.8em !important;
  font-weight: 500;
}

.subtitle{
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.thin{
  font-size: 0.8em;
  font-weight: 400 !important;
}

.datePublished{
  font-weight: 500;
  margin-bottom: 0.5em;
}

.caption{
  text-align: left !important;
  font-size: 1.2em;
  display: inline !important;
}

.nameAuthor{
  color: black;
  font-weight: 700 !important;
}

.center {
  display: block !important;
  position: relative;
  margin-bottom: 3%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.small{
  width: 25% !important;
}

.captionPhoto{
  max-width: 28em;
}

.midSmall{
  font-size: 170% !important;
  font-weight: 400;
}

 .isolate {
  margin-right: 30%;
  margin-left: 0%;
  width: 80%;
  margin-bottom: 1em;
 }

 .expand{
  max-width: fit-content;
  margin-right: 3em;
 }

 .one_colum .expand{
   max-width: 47%;
 }

 .distant{
   margin-top: 1.5em;
 }

.follow{
  display: inline !important;
}

.dropCap {
  float: left; 
  width: 0.8em; 
  font-size: 570%; 
  line-height: 80%;
}


.smallChar {
  font-size: 0.875em !important;
  font-weight: 300 !important;
  text-align: left;
  display: block;
  margin-top: 0.8em;
}



/* Basic Metadata Display CSS */


.metadata{
  border-right: 0.1em white solid;
  border-bottom: 0.1em white solid;
  width: 100%;
  height: fit-content;
}

.metadata h1{
  margin-bottom: 0 !important;
}


.text_meta{
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}

/* Hide scrollbar Chrome, Safari, Opera */
.text_meta::-webkit-scrollbar {
    display: none;
}

#meta_down{
  margin-top: 2px;
}

.default{
  margin-bottom: 0 !important;
}

.meta{
  width: 95%;
  margin-bottom: 0.5em;
}


.meta h2{
  margin-bottom: 0 !important;
}


.meta li {
    font-size: 1.2em;
    color:black;
    line-height: 2em;
    line-height: 1.3em !important;
    margin: 0.5em;
    margin-left: 0 !important;
    display: inline;
    text-align: left;

}

.meta ol{
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

/* Hide scrollbar Chrome, Safari, Opera */
ol::-webkit-scrollbar {
    display: none;
}

.meta dl {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Hide scrollbar Chrome, Safari, Opera */
dl::-webkit-scrollbar {
  display: none;
}

.meta dt { 
  font-size: 1.1em;
  color: black;
  line-height: 2em;
  font-style: oblique;
  font-weight: 700;
  margin-left: 0 !important;
  display: inline;
  text-align: left;
}

.meta dd:first-child {
  margin-left: 0.5em !important;
}

.meta dd{
  font-size: 1.2em;
  color: black;
  line-height: 2em;
  font-style: normal;
  font-weight: normal;
  margin: 1em;
  margin-left: 0;
  display: inline;
  text-align: left;
}

.meta_down{
  flex-grow: 1;
  width: fit-content;
}

.meta_down dl {
  height: fit-content;
  max-height: 9.5em;
  margin-bottom: 0.5em;
  display: block !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  white-space: normal !important;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.meta_down dt{
  display: block !important;
  line-height: 0.8em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.meta_down dt:last-child{
  margin-bottom: 0 !important;
}

.meta_down dd {
  display: block !important;
  margin: 0.8em;
  margin-left: 0.5rem !important;
  line-height: 0.8em;
}

.meta_down ol {
  height: fit-content;
  max-height: 9.5em;
  margin-bottom: 0.5em;
  display: block !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  white-space: normal !important;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.meta_down li{
  display: block !important;
  line-height: 0.8em;
}

.show_meta_one{
  display: flex;
  flex-direction: column;
    width: 100%;
    height: fit-content;
    max-height: 27em;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 0.5em;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.show_meta_one::-webkit-scrollbar {
    display: none;
}

.show_meta_two{
  display: flex;
  flex-direction: column;
    width: 100%;
    height: fit-content;
    max-height: 27em;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 0.5em;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.show_meta_two::-webkit-scrollbar {
    display: none;
}

.show_meta_three{
  display: flex;
  flex-direction: column;
    width: 100%;
    height: fit-content;
    max-height: 27em;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 0.5em;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.show_meta_three::-webkit-scrollbar {
    display: none;
}

.show_meta_down {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  justify-content: sp;
}

.Place, .Person, .Date, .Concept, .Organization {
  display: none;
}


/* Basic Article columns Display CSS */

.article{
  border-right: 0.115em white solid;
  width: 100%;
  height: 85%;
  margin: 0 auto;
}



.text{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;  
}

/* Hide scrollbar Chrome, Safari, Opera */
.text::-webkit-scrollbar {
    display: none;
}

#one_article{
  width: 100%;
  height: 100%;
  display: none;
}

.one_colum{
  width: 100%;
  height: 100%;
}

.one_colum > .metadata > .text_meta {
  padding: 2%;
}

.one_colum > .article > .text > article {
  padding-bottom:7% ;
  padding-top: 2%;
  width: 95%;
}


#two_article{
  width: 100%;
  height: 100%;
  display: none;
}

.two_colum{
  width: 50%;
  height: 100%;
}

.two_colum > .metadata > .text_meta {
  padding: 3%;
}

.two_colum > .article > .text > article {
 padding-bottom:13% ;
 padding-top: 5%;
  width: 90%; 
}

#three_article{
  width: 100%;
  height: 100%;
  display: none;
}

.three_colum{
  width: 33.333333333333333%;
  height: 100%;
}

.three_colum > .metadata > .text_meta {
  padding: 5%;
}

.three_colum > .article > .text >  article {
 padding-bottom:13% ;
 padding-top: 5%;
  width: 90%;
}




/* @media role for little laptop and tablet */

@media only screen and (min-width: 769px) and (max-width: 1279px), (min-height: 700px) and (max-height: 900px){
  body{
    font-size: 0.8em;
    overflow: hidden;
  
  };
  html{
    font-size: 80%;
    overflow: hidden;
  
  };
  
}

@media only screen and (min-device-aspect-ratio: 16/9) {
  .scrolling_content{
  left: 18%;
  }
}

#Y300s{
  margin-top: 0.3em;
}























