
/* 1800   fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff */

body {
  background: radial-gradient(circle at bottom, rgb(0, 0, 0) 0, black 100%);
  background-repeat: no-repeat;
  align-self: center;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'manuskriptgotisch';
  src: url('font/Y80S/Y1800/manuskriptgotisch-webfont.woff2') format('woff2'),
       url('font/Y80S/Y1800/manuskriptgotisch-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'opulence';
  src: url('font/Y80S/Y1800/opulence-webfont.woff2') format('woff2'),
       url('font/Y80S/Y1800/opulence-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'verdanaregular';
  src: url('font/Y80s/verdana-webfont.woff2') format('woff2'),
       url('font/Y80s/verdana-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h1, h2, h3, button {font-family: 'manuskriptgotisch', normal !important; color: white;} 
h4, h5, h6 {font-family: 'opulence', normal !important; color: white;}
p, a, ul, li, figcaption, label {font-family: 'Times New Roman', serif !important; color: white; font-size: 0.9em;}

h1, button{
  text-transform: lowercase;  
  font-weight:normal !important;
}

h1, button:first-letter {
  text-transform: capitalize;
}
.one_colum p{
  column-count: 3;
  column-fill: balance;
}
.subtitle{
  font-family: 'opulence', normal !important;
}

.content_article{

  overflow: hidden;
    height: 99.4%;
    width: 76%;
    background-color: #ffffff;
    border: 0.125em rgb(0, 0, 0) solid;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(90, 90, 90, 0.5);
}
.up_logo {
  margin-block-start: 0.1em;
}

.content_article img{
  filter:grayscale(100%);

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(49, 49, 49, 0.5) ;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.select-items {
  position: absolute;
  background-color: rgba(163, 163, 163, 0.5);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.cover_content{
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  position: absolute;
  width: fit-content;
  min-width: 48em;
  height: 22em;
  background: rgb(56, 56, 56);
  border:  0.125em white solid;
  padding: 3%;
}
/*

.up_logo {
  font-size: 3.5em;
}

.bottom_logo {
  margin-top: -14px;
  font-size: 2.5em;
}

.cover_content {
  background-color: rgb(16 44 65);
}

.hr_lens{
  margin-right: 58%;
  }



  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(49, 49, 49, 0.5) ;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .content_article{

    overflow: hidden;
      height: 99.4%;
      width: 76%;
      background-color: #ffffffba;
      border: 0.125em white solid;
  }

  /*.p ::first-letter*/
























