body {
	background: radial-gradient(circle at bottom, rgb(197, 25, 189) 0, black 100%);
  background-repeat: no-repeat;
  align-self: center;
  height: 100vh;
  overflow: hidden;
}



























