body {
	background: radial-gradient(circle at bottom, rgb(199, 167, 119) 0, rgb(168, 136, 88) 100%);
  background-repeat: no-repeat;
  align-self: center;
  height: 100vh;
  overflow: hidden;
}



@font-face {
  font-family: 'candlebright';
  src: url('font/Y80S/Y300s/candlebright_sample-webfont.woff2') format('woff2'),
       url('font/Y80S/Y300s/candlebright_sample-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'camelot';
  src: url('font/Y80S/Y300s/camelot-webfont.woff2') format('woff2'),
       url('font/Y80S/Y3300s/camelot-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h1, h2, h3, button, h4, h5, h6, p, a, ul, li, figcaption, label {font-family:'candlebright', normal !important; color: white;text-transform: lowercase;} 
.up_logo:first-letter{text-transform: uppercase; font-family:'camelot', normal !important; color: white; font-weight: normal !important;}




.content_article{

  overflow: hidden;
    height: 99.4%;
    width: 76%;
    background-color: #c5c5c5ba;
    border: 0.125em white solid;
}
.up_logo {
  margin-block-start: 0.1em;
}
 
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(49, 49, 49, 0.5) ;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.select-items {
  position: absolute;
  background-color: rgba(163, 163, 163, 0.5);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.cover_content{
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  position: absolute;
  width: fit-content;
  min-width: 48em;
  height: 22em;
  background: rgb(59, 17, 17);
  border:  0.125em white solid;
  padding: 3%;
}
























